<div style="margin-top:100px;">
      <h1 style="margin-left:50px;margin-top:50px;">{{welcome}}</h1>
  <div style="margin-left:100px;margin-bottom:100px;">
<table>
		<tr>
		</tr>
		<tr>
			<td>Name:</td>
			<td><b>Suyash</b></td>
		</tr>
		<tr>
			<td>Email:</td>
			<td><b>suyash.pal@localhost.com</b></td>
		</tr>
		<tr>
			<td>Contact No:</td>
			<td><b>9874563210</b></td>
		</tr>
		<tr>
			<td>Date of Birth :</td>
			<td><b>1994/06/15</b></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><b>suyash.pal</b></td>
		</tr>
</table>
<div style="margin-top:20px;"> 
    <button (click)="back()">back</button>
  </div>
 </div>
 </div>