<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
        <ul class="nav navbar-nav">
            <li> <img src="assets/images/logo.png" style="width:70px;height:40px;margin-top:7px;"/></li>
            <li class="li_font"><h3>E-Store</h3><li>
          </ul>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="sign">Signup</a></li>
        <li><a routerLink="log">Login</a></li>
      </ul>

    </div>
  </div>
</div>

<router-outlet></router-outlet>